export HOSTNAME="ejbca.hostname.com"

export OAUTH_TOKEN_URL="https://example.com/oauth2/token"
export OAUTH_CLIENT_ID="changeme"
export OAUTH_CLIENT_SECRET='changeme'
export OAUTH_SCOPES='optional' # remove if not needed
export OAUTH_AUDIENCE='optional' # remove if not needed

export EJBCA_CA_NAME=Your-CA # Example: Sub-CA
export CERTIFICATE_PROFILE_NAME=CertificateProfileName # Example: tlsServerAuth-1y
export END_ENTITY_PROFILE_NAME=EndEntityProfileName # Example: Server